/* Dark Mode */
.dark {
  background-color: #161b1b;
  color: white;
  transition: background-color 1s, color 0.3s;

  header {
    background-color: #7c7050;
    transition: background-color 1s, color 0.3s;
  }

  #toggle {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 1s, color 0.3s;
  }

  .hero {
    background-color: #665a4bc9;
    color: #fff;
    transition: background-color 1s, color 0.3s;
  }

  .feature {
    background: rgb(47, 47, 42);
    transition: transform 0.3s;
  }

  .upload-area {
    background: rgb(47, 47, 42);
    box-shadow: 0 0.2px 15px white;
  }

  textarea,
  input[type="text"],
  input[type="email"] {
    background: rgb(47, 47, 42);
    color: #fff;
  }
  button.submit-btn,
  .hero button,
  button.submit-btn:hover {
    background-color: #007bff;
    color: white;
  }
  .result-box {
    background: rgb(47, 47, 42);
    border: 1px solid white;
    box-shadow: 0 2px 10px rgba(109, 102, 102, 0.626);
  }
  .results-card {
    background-color: rgb(47, 47, 42);
    color: #fff;
    box-shadow: 0 10px 15px -3px rgba(159, 150, 150, 0.1),
      0 4px 6px -2px rgba(245, 176, 176, 0.05);
    padding: 1.5rem;
  }

  .score-header h3,
  .score-value,
  .detail-label,
  .card-intro,
  .footer_container a,
  .social-media-tag a,
  .upload-logo,
  .feature-text p,
  section p.sub,
  .file-list {
    color: #fff;
  }

  .detail-value {
    font-weight: 700;
    color: #a5dcde;
  }

  .Ex_feature {
    background: rgb(47, 47, 42);
    box-shadow: 0 2px 6px rgba(208, 186, 186, 0.15);
  }

  .step {
    background: rgb(47, 47, 42);
    box-shadow: 0 4px 10px rgba(213, 168, 168, 0.197);
  }

  .step h3,
  .Social-Media h3,
  .feature-text h3,
  .footer_container h3,
  .feature h3,
  section h2 {
    color: #ffd500;
  }

  .footer_container a:hover,
  .social-media-tag a:hover {
    color: #706eb1;
  }

  .video p,
  .video i {
    color: #657990;
  }

  .feature:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(174, 155, 155, 0.15);
  }
}

.Mode button {
  position: fixed;
  top: 80px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: grab;
  background-color: #000;
  color: #fff;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.8s, color 0.3s, transform 0.2s;
  z-index: 1000;
}

.Mode button:active {
  cursor: grabbing;
  transform: scale(0.95);
}
